<%= turbo_frame_tag :forecast do %>
  <%
    today = forecast[Date.today.strftime("%d/%m/%Y")]
    low = today.min_by { |hash| hash["temperature"] }
    high = today.max_by { |hash| hash["temperature"] }
    Rails.logger.info "TODAY: #{today}"
  %>
  <div class="mt-8 bg-blue-400 p-4 w-full">
    <div class="flex w-full justify-between items-end text-white">
      <div class="temperature">
        <div><%= today[0]["temperature"] %></div>
        <div class="text-xl font-bold"><%= today[0]["temperature"] %>°</div>
      </div>
      <div class="current-forecast">
        <%= image_tag today[0]["icon"], class: "w-8" %>
        <div class="text-sm"><%= today[0]["shortForecast"] %></div>
        <div class="text-xs">High: <%= high["temperature"] %> / Low: <%= low["temperature"] %></div>
      </div>
    </div>
    <div class="flex w-full gap-2 mt-4">
      <% forecast.each do |key, periods| %>
        <% next if key == Date.today.strftime("%d/%m/%Y") %>
        <%
          day_low = periods.min_by { |hash| hash["temperature"] }
          day_high = periods.max_by { |hash| hash["temperature"] }
        %>
        <div class="block text-center">
          <div class="forecast"><%= image_tag(day_high["icon"], class: "w-8") %></div>
          <div class="forecast"><%= day_high["shortForecast"] %></div>
          <div class="day"><%= Date.parse(key).strftime("%^a") %></div>
          <div class="text-md">H: <%= day_high["temperature"] %>°</div>
          <div class="text-sm">L: <%= day_low["temperature"] %>°</div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
