<%= turbo_frame_tag :forecast do %>
  <div class="mt-8 bg-blue-400 p-4 w-full">
    <div class="flex w-full justify-between items-end text-white">
      <div class="temperature">
        <div><%= today.temperature %></div>
        <div class="text-xl font-bold"><%= today.temperature %>°</div>
      </div>
      <div class="current-forecast">
        <%= image_tag today.icon, class: "w-8" %>
        <div class="text-sm"><%= today.description %></div>
        <div class="text-xs">High: <%= today.temperature_hi.temperature %> / Low: <%= today.temperature_lo.temperature %></div>
      </div>
    </div>
    <div class="flex w-full gap-2 mt-4">
      <% forecasts.drop(1).each do |forecast| %>
        <div class="block text-center">
          <div class="forecast"><%= image_tag(forecast.current_period.icon, class: "w-8") %></div>
          <div class="forecast"><%= forecast.description %></div>
          <div class="day"><%= forecast.date.to_date.strftime("%^a") %></div>
          <div class="text-md">H: <%= forecast.temperature_hi.temperature %>°</div>
          <div class="text-sm">L: <%= forecast.temperature_lo.temperature %>°</div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
