<%= turbo_frame_tag :forecast do %>
  <div class="mt-8 bg-gradient-to-r from-sky-300 to-sky-500 p-4 w-full rounded-md">
    <div class="flex w-full justify-between items-end text-white">
      <div class="temperature">
        <div class="text-6xl font-bold"><%= today.temperature %>°</div>
        <div><%= extended_forecast.location %></div>
      </div>
      <div class="current-forecast">
        <i class="<%= icon_for(today.main_period.daytime?, today.description) %> text-4xl"></i>
        <div class="mt-1"><%= today.description %></div>
        <div class="text-xs">High: <%= today.temperature_hi.temperature %> / Low: <%= today.temperature_lo.temperature %></div>
      </div>
    </div>
    <div class="flex w-full justify-between mt-4">
      <% extended_forecast.future_cast.each do |forecast| %>
        <div class="flex flex-col items-center justify-center text-white rounded border-white border-1 p-3">
          <i alt="<%= forecast.description %>" class="<%= icon_for(forecast.main_period.daytime?, forecast.description) %> text-4xl mb-3"></i>
          <div class="day"><%= forecast.date.to_date.strftime("%^a") %></div>
          <div class="text-md">H: <%= forecast.temperature_hi.temperature %>°</div>
          <div class="text-sm">L: <%= forecast.temperature_lo.temperature %>°</div>
        </div>
      <% end %>
    </div>
    <% if cached %>
      <div class="text-end text-white my-3 italic">Cached</div>
    <% end %>
  </div>
<% end %>
